name: build msyh
on: [push]

env:
  version: 0.35.1

jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
    - name: Install dependencies
      run: pacman -Syu --noconfirm git fontforge wget p7zip
    - uses: actions/checkout@v2
    - name: Download font
      run: wget -O /tmp/ttc.7z https://github.com/be5invis/Sarasa-Gothic/releases/download/v${{ env.version }}/sarasa-gothic-ttc-${{ env.version }}.7z
    - name: Extract font
      run: 7z x -odata /tmp/ttc.7z
    - name: Run script
      run: |
        mkdir out
        python3 extract.py
    - name: Upload
      uses: actions/upload-artifact@v2
      with:
        name: out
        path: out
